*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans';
}
.navbar-list a{
text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Open Sans';
}

body{
  background-color: white;
}


.navbar{

  background-color:#186781;
  position:absolute;
  top: 80px;;
  left: 0px;
  /* height: 80vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}
.navbar-list {
  width: 100%;
}


.navbar-list li{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 1rem;
  border-bottom: 1px solid white;
  color:#eef3f7
}

.hidden{
  display: none;

}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1rem;
  /* background-color: red; */
  /* background-color:#186781; */
}
.menu h4{
  color:darkgray;
}
.headercontainer{
  background-color:#186781;
  /* background-color:#925747; */
  font-size: 1.5rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: sticky;
  width:100%;
  top:0px;
  z-index: 10;
  padding: 2rem;

}
.menuicon{
  color: white;
}
.lupa{
color:#186781; 
}
.headercontainer img{
margin-top: 8px;
  width:80px ;
}

.itemcontainer{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */  
  /* margin: 1rem auto; */
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  color: #074F71;
  width: 98%;    
  border-radius: 16px;    
  height: 100%;    
}

.item-perro{
background-color: #52ad7e;
color:#fff;
font-weight: 700;
}

.item-gato {
background-color:#a2c11b ;
color:#fff;
font-weight: 700;
}

.gato img{
  /* max-width: 110px; */

  /* background-color: aqua; */
}
.perro img{
  /* max-width: 110px; */
  /* margin-left: 2rem; */
  /* background-color: aqua; */
}
/* .perro{
  font-size: 40px;
  
  height: 100px;
}
.gato{
  font-size: 40px;

  height: 100px;
} */
.perroGatoContainer{
/* background-color: #074F71; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 40PX;
gap:1rem;
padding-top: 10px;
padding-bottom: 10px;
}
.perroGato{
height: 110px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2rem;
}
.perro img{
height: 110px;
position: absolute;
right: 85px;
}
.gato img{
height: 110px;
}

.tituloMarcas {font-size: 19px; padding: 10px;}

.marcas{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;    
  color: #074F71;
  font-size: 40px;
  width: 100%;       
  background-color: white;

}
.logomarcas{
  display: flex;
  justify-content: center;
  text-align: center;
  text-align:center;
  flex-wrap: wrap;
  gap:0.5rem;
  padding-bottom: 10px;
  /* margin: 0 auto; */

}
.imagenDiv {
  background-position: center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.logomarca {
  background-color:#eef3f7;
  width: 100px;
  height:100px;
  border-radius: 100%;
  transition: width 0.5s;
  
}

.logomarca img{
  width: 100px;
  background-color: grey;
  border-radius: 50px;
  
}

.logomarca:hover{
  width: 150px;
}
.quienesSomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  gap:1rem;
  padding: 1rem;
}
h2{
  font-size: 25px;
}
.quienesSomos p{
  font-size: 20px;
}
.contactoContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */

  padding: 1rem;
  display: none;
}
.contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  gap: 0.5rem;
  padding: 1rem;

}
.input input{
width: 250px;
border-radius: 5px;
height: 30px;
}
.input textarea{
width: 250px;
min-height: 100px;
}
.whatsapp{
  text-align: center;
  font-size: 3.5rem;
  position: fixed;
  right: 5px;
  bottom: 10px;
  color: white;
  background-color: #168236;
  animation: shakeY;
  animation-duration: 10s;
  /* color: blue; */
  animation-iteration-count: infinite;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.off5{
  text-align: center;
  position: fixed;
  left: 10px;
  top: 330px;    
  background: rgba(255, 81, 36, 1);
  border-radius: 50%;
  height: 70px;
  width: 70px;    
}
.off5 img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 5px;
  width: 57px;
}
.footerContainer{
  background-color:#186781;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  gap: 1rem;
  padding: 1rem;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:0.5rem;
  width: 100%;
  /* background-color: #168236; */
}
.footer li{
  font-size: 15px;
}
.footer h2{
  font-size: 20px;
}
.redes i{
  font-size: 20px;
  color:white;
}
.footerContainer p{
  font-size: 16px;   
}
.instagr{
  display: flex;
  flex-direction: row;
  gap:1.5rem;
}

/* productos */
.productosContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color:white;    
  border-radius: 16px;
  width: 100%;
  /* padding-bottom: 1.5rem; */
}
.productos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
  /* background-color: #168236; */
  padding-bottom: 1.5rem;
  
}
.producto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;    
  border-radius: 8px;
  width: 47%;
  gap: 0.1rem;
  background-color: #eef3f7;
}
.productoImg{
  width: 100%;
  height: 200px;
  text-align: center;
}

.productoImg img{
  
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
} 

.producto p{    
  font-size: 16px;
  text-align: center;
  min-height: 5rem;
  color: #333;
  font-weight: 100;
}
.verMasbtn{
  padding: 10px 15px;
  border-radius:16px ;
  background-color:#186781;
  color: white;
  font-family: 'Open Sans';   
  border:none
}
.btnhiden{
  display: none;
}
.precio{
  font-size: 20px;    
  color: #333;
  font-weight: 700;
}

.contenedorMail {
  text-align: center;
}

.iconoEmail {
  text-decoration: none; 
  color: #fff;
}

